@import './Styles/layout';
@import './Styles/navbar';
@import './Styles/typography';
@import './Styles/title';
@import './Styles/about.scss';
@import './Styles/skill.scss';
@import './Styles/services.scss';
@import './Styles/contact.scss';
@import './Styles/portfolios.scss';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: #115be4b9;
    border-radius: 50px;
}
body::-webkit-scrollbar-track{
    background-color: #a4acc4;
}


body{
   color: #a4acc493;
   font-family: 'M PLUS Rounded 1c', sans-serif;
   font-size: 1.3rem; 
}

span{
    color: #037FFF;
}

@media screen and (max-width: 411px){
    html{
        font-size: 70%;
    }
}
@media screen and (max-width: 700px){
    html{
        font-size: 90%;
    }
}
@media screen and (max-width: 480px){
    h2{
        font-size: 70%;
    }
    h3{
        font-size: 70%;
    }
}